@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";

.allItems-container {
  @extend %container;
  background-color: $backgroundPrimary;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // text-align: center;
}
.post-item {
  padding: $base-padding;
  margin: $base-margin;
  width: 100%;
  border-bottom: $base-border-thickness solid $borderColor;
  display: grid;
  grid-template-columns: 94% 6%;
}
.main-padding {
  padding: $base-padding;
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 1;
}
.allpg-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column-start: 2;
  grid-column-end: 2;
}
.form-delete {
  display: inline;
  max-width: $base-padding;
}
.form-edit {
  display: inline;
  max-width: $base-padding;
}
.all-description {
  align-self: center;
  display: inline-block;
  margin-left: $base-margin * 1.5;
}

@include xs {
  .all-img {
    display: inline-block;
    width: 70%;
    height: 65%;
  }
  .allpg-btn {
    display: none;
  }
}
@include sm {
  .all-img {
    display: inline-block;
    width: 50%;
    height: 80%;
  }
  .allpg-btn {
    display: flex;
  }
}
@include md {
  .all-img {
    display: inline-block;
    width: 40%;
    height: 70%;
  }
  .allpg-btn {
    display: flex;
  }
}
@include lg {
  .all-img {
    display: inline-block;
    width: 40%;
    height: 80%;
  }
  .allpg-btn {
    display: flex;
  }
}
//font reduce
@include xs {
  .all-description {
    font-size: $base-font-size * 0.7;
  }
}
@include sm {
  .all-description {
    font-size: $base-font-size * 0.75;
  }
}
@include md {
  .all-description {
    font-size: $base-font-size;
  }
}
@include lg {
  .all-description {
    font-size: $base-font-size;
  }
}
