@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";

.post-container {
  @extend %container;
  background-color: $backgroundPrimary;
  display: flex;
  justify-content: center;
}
.post-content {
  padding: $base-padding;
  max-width: 45rem;
  background-color: $backgroundSecondary;
}
.post-content img {
}

@include xs {
  .post-content {
    min-width: 90%;
  }
}
@include sm {
  .post-content {
    min-width: 80%;
  }
}
@include md {
  .post-content {
    min-width: 70%;
  }
}
@include lg {
  .post-content {
    min-width: 65%;
  }
}
