@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";
// @import "../sassStyling/gridSystem";

.post-container {
  @extend %container;
  background-color: $backgroundPrimary;
  display: flex;
  justify-content: center;
}
.post-content {
  padding: $base-padding;
  max-width: 45rem;
  background-color: $backgroundSecondary;
}
