@import "../sassStyling/colors";
@import "../sassStyling/variables";
@import "../sassStyling/breakpoints";
@import "../sassStyling/gridSystem";
@mixin btn($bg-color) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding;
  background-color: $bg-color;
  color: black;
}
@mixin hover() {
}
.delete-btn {
  @include btn($primary);
  padding: $base-padding $base-padding * 2;
}

.submit-btn {
  @include btn($primary);
  margin: $base-margin;
}
.draft-btn {
  @include btn($primary);
  margin: $base-margin;
}
