.home-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 0;
  padding: 0 0.75rem;
  padding-top: 5rem;
  box-sizing: border-box;
  background-color: #e3fdfd;
}

.left-arrow, .right-arrow {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  opacity: 0.5;
  color: grey;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  font-weight: bold;
  transition: 0.6s ease;
  font-size: 30px;
}

.row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 0) {
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
}
@media (min-width: 580px) {
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a:visited {
  color: black;
}

.img-slider {
  display: block;
}

.header {
  display: block;
  width: 100%;
}

.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.right-arrow {
  right: 0%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.left-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.s-image-container {
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  transition-duration: 1s ease;
  max-width: 800px;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: flex;
  transition-duration: 1s;
  transform: scale(1);
}

.img-description {
  color: antiquewhite;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #a6e3e9;
  width: 100%;
  padding: 0.75rem;
}

.ltst-top {
  width: 100%;
}

.img-container {
  background-color: grey;
  height: 65%;
  overflow: hidden;
}

@media (min-width: 0) {
  .s-image-container {
    height: 210px;
    width: 350px;
  }
}
@media (min-width: 580px) {
  .s-image-container {
    height: 300px;
    width: 500px;
  }
}
@media (min-width: 720px) {
  .s-image-container {
    height: 300px;
    width: 500px;
  }
}
@media (min-width: 960px) {
  .s-image-container {
    height: 450px;
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .s-image-container {
    height: 525px;
    width: 875px;
  }
}